<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Crime Data App</title>
</head>
<body>
    <h1>University Crime Data Visualizations</h1>
    <ul>
        <li><a href="/crime_map">View Layered Crime Map</a></li>
        <li><a href="/crime_heatmap">View Crime Heatmap</a></li>
        <li><a href="/trend_analysis">View Crime Trend Analysis</a></li>
        <li><a href="/trend_analysis_over_time">View Crime Trend Analysis Over Time</a></li>
        <li><a href="/crime_distribution">View Crime Category Distribution</a></li>
    </ul>
    <h1>University Crime Data Data Functions</h1>
        <li><a href="/raw_data">Display Raw Data</a></li>
        <li><a href="/scrape_raw_data">Scrape Raw Data</a></li>
        <li><a href="/scrape_latitude_and_longitude">Scrape Latitude and Longitude Coordinates</a></li>
        <li><a href="/scrape_spotcrime">Scrape Spotcrime Data</a></li>
</body>
</html>
